################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CalculatorLab/CalculatorLab/bin/Debug
/CalculatorLab/CalculatorLab/obj
/MyListLab/MyListLab/bin/Debug
/MyListLab/MyListLab/obj
